In [144]:
import pandas as pd

In [145]:
data = pd.read_csv('Book2.csv')

In [146]:
data

  Unnamed: 0  videos  days  subscribers  views
0  channel 1      30   150         1800  34000
1  channel 2      40   212         1950  41000
2  channel 3      50   179         2100  42500
3  channel 4      60   346         4300  54300
4  channel 5      70   280         4200  56000